@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
     display: flex;
     width: 836px;
     padding: 8px;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;

     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 8px;
     background: var(--white-100, #FFF);
}

.modal_title {
     display: flex;
     padding: 4px 8px;
     align-items: flex-start;
     gap: 10px;
     align-self: stretch;
}

.modal_information_frame {
     display: flex;
     padding: 0px 8px;
     align-items: flex-start;
     gap: 8px;
     align-self: stretch;
}

.modal_information_title {
     display: flex;
     width: 150px;
     align-items: flex-start;
     gap: 10px;
     align-self: stretch;

     color: var(--black, #000);
}

.modal_information_title>span {
     display: flex;
     flex-direction: column;
     flex: 1 0 0;

     color: var(--black, #000);

     font-size: 24px;
     font-family: Roboto;
     line-height: 36px;
}

.modal_information_form {
     display: flex;
     padding: 8px;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;
     flex: 1 0 0;
}

/* Filter ----------------------------------- */
.modal_filter_frame {
     display: flex;
     padding: 0px 8px;
     align-items: flex-start;
     gap: 8px;
     align-self: stretch;
}

.modal_filter_text_area {
     width: 100%;

     color: var(--black-87, rgba(0, 0, 0, 0.87));
     font-size: 20px;
     font-family: Roboto;
     font-weight: 500;
     line-height: 28px;
}

.modal_filter_typography {
     height: 434px;
     display: flex;
     width: 150px;
     align-items: flex-start;
     gap: 10px;
     align-self: stretch;
}

.modal_filter_typography>span {
     display: flex;
     flex-direction: column;
     flex: 1 0 0;

     color: var(--black, #000);

     font-size: 24px;
     font-family: Roboto;
     line-height: 36px;
}

.modal_filter_form {
     display: flex;
     padding: 4px 0px;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;
     flex: 1 0 0;
}

/* Modal`s footer, place where we placed the action buttons -----------------------*/
footer {
     height: 32px;
     display: flex;
     padding: 8px;
     justify-content: flex-end;
     align-items: center;
     gap: 10px;
     align-self: stretch;
}

.term {
     background-color: var(--black-4, rgba(0, 0, 0, 0.04));
     color: var(--primary-100, #432B3AFF);
     padding: 4px 12px;
     border-radius: 24px;
}

.termsList {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: flex-start;
     flex: 1 0 0;
     
     padding: 16.5px 14px;
     align-self: stretch;
     gap: 8px;

     border-radius: 4px;
     border: 1px solid var(--border-inactive, rgba(0, 0, 0, 0.38));

     min-height: 50px;
     
}